.bio_card_base_layer {
    width: auto;
    height: auto;
    background: rgb(198, 237, 193);
    margin: 4px;
    border: 2px;
    border-radius: 5px;
    border-color: black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 10px;
}

.topimage{
    width: 201px;
    height: 30px;
}

.bio_title{
    color: cornflowerblue;
}

